In [0]:
import sqlite3
connectionToDatabase = sqlite3.connect('AirportData')
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Plane''')
connectionToDatabase.commit()
cursor.execute('''create table Plane (Airline text PRIMARY KEY, FlightID text, Amenities text, MaxCapacity text, MaxDistance text)''')
connectionToDatabase.commit()
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Flights''')
connectionToDatabase.commit()
cursor.execute('''create table Flights (FlightID PRIMARY KEY, Airline, Distance, Destination, TicketID, GateNumber, Pilot)''')
connectionToDatabase.commit()
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Ticket''')
connectionToDatabase.commit()
cursor.execute('''create table Ticket (TicketID PRIMARY KEY, PassengerName, Destination, Price, GateNumber, BaggageTicket, FlightID, Airline, SeatNumber)''')
connectionToDatabase.commit()
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Gate''')
connectionToDatabase.commit()
cursor.execute('''create table Gate (GateNumber PRIMARY KEY, FlightID, Vendors)''')
connectionToDatabase.commit()
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS BaggageClaim''')
connectionToDatabase.commit()
cursor.execute('''create table BaggageClaim (BaggageTicket PRIMARY KEY, FlightID, PassengerName, TicketID, GateNumber)''')
connectionToDatabase.commit()

In [0]:
for c in Plane:
  insertStatement =  """insert into Plane values ("%s","%s","%s","%s","%s")""" % (c[0],c[1],c[2],c[3],c[4])
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

cursor.execute('''insert into Plane values ('Delta', 'Delta 649', 'Movie', '200', '4600mi' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Plane values ('United Airline', 'UA 2164', 'Snack', '150', '4000mi' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Plane values ('American Airline', 'AA 1775', 'Movie', '300', '5000mi' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Plane values ('JetBlue', 'JetBlue 921', 'Movie', '170', '3000mi' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Plane values ('United Airline', 'UA 3376', 'Games', '250', '4600mi' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Plane values ('JetBlue', 'JetBlue 1452', 'Movie', '200', '4000mi' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Plane values ('Delta', 'Delta 209', 'Games', '200', '4000mi' );''')
connectionToDatabase.commit()

for c in PlaneData:
  insertStatement = """insert into Plane values ("%s", "%s","%s", "%s", "%s")""" % (c[0], c[1], c[2], c[3], c[4])
  cursor.execute(insertStatement)
  connectionToDatabase.commit()

NameError: ignored

In [0]:
for c in Flights:
  insertStatement =  """insert into Flights values ("%s","%s","%s","%s","%s","%s","%s")""" % (c[0],c[1],c[2],c[3],c[4],c[5],c[6])
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

cursor.execute('''insert into Flights values ('Delta 649', 'Delta', '440mi', 'Boston', '001' ,'G10','Jason Fisher');''')
connectionToDatabase.commit()
cursor.execute('''insert into Flights values ('UA 2164', 'United Airline', '200mi', 'Philadelphia', '002' ,'K20','Nick Fisher');''')
connectionToDatabase.commit()
cursor.execute('''insert into Flights values ('AA 1775', 'American Airline', '2600mi', 'Los Angelas', '003' ,'D7','Evan Fisher');''')
connectionToDatabase.commit()
cursor.execute('''insert into Flights values ('JetBlue 921', 'JetBlue', '2300mi', 'Las Vegas', '004' ,'H12','Lebron Fisher');''')
connectionToDatabase.commit()
cursor.execute('''insert into Flights values ('UA 3376', 'United Airline', '560mi', 'Chicago', '005' ,'K17','Steven Fisher');''')
connectionToDatabase.commit()

In [0]:
for c in Ticket:
  insertStatement =  """insert into Ticket values ("%s","%s","%s","%s","%s","%s","%s")""" % (c[0],c[1],c[2],c[3],c[4],c[5],c[6],c[7],c[8])
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

cursor.execute('''insert into Ticket values ('001', 'Kai', 'Boston', '$70', 'G10' ,'1','Delta 649','Delta','17A');''')
connectionToDatabase.commit()
cursor.execute('''insert into Ticket values ('002', 'Jahnobi', 'Philadelphia', '$158', 'K20' ,'2','UA 2164','United Airline','10D');''')
connectionToDatabase.commit()
cursor.execute('''insert into Ticket values ('003', 'Ali', 'Los Angelas', '$132', 'D7' ,'3','AA 1775', 'American Airline','20C');''')
connectionToDatabase.commit()
cursor.execute('''insert into Ticket values ('004', 'Jess', 'Las Vegas', '$109', 'H12' ,'4','JetBlue 921', 'JetBlue','18D');''')
connectionToDatabase.commit()
cursor.execute('''insert into Ticket values ('005', 'Estella', 'Chicago', '$129', 'K17' ,'5','UA 3376', 'United Airline','6B');''')
connectionToDatabase.commit()

In [0]:
for c in BaggageClaim:
  insertStatement =  """insert into BaggageClaim values ("%s","%s","%s","%s","%s")""" % (c[0],c[1],c[2],c[3],c[4])
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

cursor.execute('''insert into BaggageClaim values ('1', 'Delta 649', 'Kai', '001', 'G10' );''')
connectionToDatabase.commit()
cursor.execute('''insert into BaggageClaim values ('2', 'UA 2164', 'Jahnobi', '002', 'K20' );''')
connectionToDatabase.commit()
cursor.execute('''insert into BaggageClaim values ('3', 'AA 1775', 'Ali', '003', 'D7' );''')
connectionToDatabase.commit()
cursor.execute('''insert into BaggageClaim values ('4', 'JetBlue 921', 'Jess', '004', 'H12' );''')
connectionToDatabase.commit()
cursor.execute('''insert into BaggageClaim values ('5', 'UA 3376', 'Estella', '005', 'K17' );''')
connectionToDatabase.commit()

In [0]:
for c in Gate:
  insertStatement =  """insert into Gate values ("%s","%s","%s")""" % (c[0],c[1],c[2])
  cursor.execute(insertStatement)
  connectionToDatabase.commit() # remember to commit!

cursor.execute('''insert into Gate values ('G10', 'Delta 649', 'McDonalds');''')
connectionToDatabase.commit()
cursor.execute('''insert into Gate values ('K20', 'Delta 649', 'Auntie Anne's');''')
connectionToDatabase.commit()
cursor.execute('''insert into Gate values ('D7', 'Delta 649', 'Dunkin Donuts');''')
connectionToDatabase.commit()
cursor.execute('''insert into Gate values ('H12', 'Delta 649', 'Burger King');''')
connectionToDatabase.commit()
cursor.execute('''insert into Gate values ('K17', 'Delta 649', 'Sbarro');''')
connectionToDatabase.commit()

Question 1: How many different airlines are avalible at this airport?

In [0]:
SELECT DISTINCT Airline FROM Flight

Question 2: Which gate has a Dunkin Donuts?

In [0]:
SELECT Gate FROM Gate WHERE Vendor = 'Dunkin Donuts'

Question 3: Who is traveling to Boston?

In [0]:
SELECT PassengerName FROM Ticket WHERE Destination = 'Boston'

The first question is important because it shows how many different airlines people can choose to fly from. Some people prefer one airline to another so having a diverse range of airlines could be important to show. The second question is important because personally I enjoy grabbing a cup of coffee and a muffin before I hop on a plane so it would be important for me to know where the Dunkin Donuts is located. The last question is important because I was curious as to who was flying where. All the SQL's returned the information I hoped they would.